<%= form_with model: @task, url: tasks_path, method: :post, class: "flex flex-col gap-4 container" do |form| %>
  <div class="flex flex-col container gap-2">
    <%= form.label :title, "Task Title", class: "text-sm font-medium" %>
    <%= form.text_field :title, value: task.title, class: "w-full border border-white rounded px-3 py-2 bg-transparent" %>
  </div>

  <div class="flex flex-col container gap-2">
    <%= form.label :description, "Task Description", class: "text-sm font-medium" %>
    <%= form.text_area :description, value: task.description, class: "w-full border border-white rounded px-3 py-2 bg-transparent resize-none", rows: 5 %>
  </div>

    <%= form.submit "Edit Task", class: "bg-white text-slate-950 px-4 py-2 rounded hover:opacity-75" %>
  <% end %>

  <%= link_to root_path, 
    class: "bg-transparent text-white font-medium border-b border-b-white px-4 py-2 hover:cursor-pointer flex justify-center items-center gap-2 hover:opacity-75 w-fit mx-auto" do %>
      Back
  <% end %>
</div>