<section class="bg-slate-900 p-8 flex flex-col gap-4 rounded h-full">
  <h2>You have <%= @tasks_count %> tasks </h2>

  <div class="flex gap-2 rounded bg-slate-800 container justify-between items-start h-full">
    <%# KANBAN COLUMN %>
    <div class="container flex flex-col gap-2 bg-slate-700 p-4 justify-center h-full rounded-l">
      <h3 class="text-center text-2xl font-medium">Pending</h3>

      <ul class="list-none flex-1 flex flex-col overflow-y-auto">
        <% @pending.each do |task| %>
          <li class="bg-slate-700 border-b border-b-slate-400 last:border-b-transparent py-2 flex flex-col">
              <h2 class="text-lg"><%= task.title %></h2>
              <p class="text-slate-400 text-sm"><%= task.description %></p>
              <p><%= task.status %></p>
          </li>
        <% end %>
      </ul>
    </div>

    <%# KANBAN COLUMN %>
    <div class="container flex flex-col gap-2 bg-slate-700 p-4 justify-center h-full">
      <h3 class="text-center text-2xl font-medium">In Progress</h3>

      <ul class="list-none flex-1 flex flex-col overflow-y-auto">
        <% @in_progress.each do |task| %>
          <li class="bg-slate-700 border-b border-b-slate-400 py-2">
              <h2><%= task.title %></h2>
              <p><%= task.description %></p>
              <p><%= task.status %></p>
          </li>
        <% end %>
      </ul>
    </div>

    <%# KANBAN COLUMN %>
    <div class="container flex flex-col gap-2 bg-slate-700 p-4 justify-center h-full rounded-r">
      <h3 class="text-center text-2xl font-medium">Completed</h3>

      <ul class="list-none flex-1 flex flex-col overflow-y-auto">
        <% @completed.each do |task| %>
          <li class="bg-slate-700 border-b border-b-slate-400 py-2">
              <h2><%= task.title %></h2>
              <p><%= task.description %></p>
              <p><%= task.status %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</section>